@inherits LayoutComponentBase

<PageTitle>SocialMediaProfile.BlazorServer</PageTitle>

<header>
    <NavMenu></NavMenu>
    <Banner></Banner>
</header>

<main>
    <div class="container-fluid" style="max-width:1400px;">
        <div class="row justify-content-center mx-2">
            @Body
        </div>
    </div>
</main>

<footer>
    <Footer></Footer>
</footer>