@inherits LayoutComponentBase

<PageTitle>SocialMediaProfile.BlazorServer</PageTitle>

<header>
    <NavMenu></NavMenu>
    <Banner></Banner>
</header>

<main class="text-white">
    @Body
</main>

<footer>
    <Footer></Footer>
</footer>