@inherits LayoutComponentBase

<PageTitle>SocialMediaProfile.BlazorServer</PageTitle>

<header>
    <NavMenu></NavMenu>
</header>

<main class="text-white bg-dark">
    @Body
</main>

<footer>
    <Footer></Footer>
</footer>