<section class="banner banner-sm bg-secondary" style="
        background-image: url(banner.jpg);
        background-size: cover;
        /*background-attachment: fixed;*/
        background-position: top;">
</section>

@code {

}
