@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;
@inject IEducationWebService EducationWebService;

<EditForm Model="_educationDTO" OnValidSubmit="() => AddEducation(_educationDTO)">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <section class="modal fade" id="addEducation" tabindex="-1" aria-labelledby="addEducationLabel" aria-hidden="true">
        <article class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-white p-2">
                <div class="modal-header border-0 m-3 mb-2 p-0 position-relative" data-bs-theme="dark">
                    <h4 class="modal-title w-100 pb-2" id="addEducationLabel" style="font-size: 1.60rem; border-bottom: 0.1875rem solid #1B5DC2;">Agregar Educación</h4>
                    <button type="button" class="btn-close position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close" @onclick="() => ResetModel()"></button>
                </div>
                <div class="modal-body" style="font-size: 1.15rem;">
                    <div class="form-group pb-3">
                        <label for="instituteName" class="pb-1">Instituto</label>
                        <InputText id="instituteName" class="form-control" @bind-Value="_educationDTO.Name" />
                        <ValidationMessage For="() => _educationDTO.Name"></ValidationMessage>
                    </div>
                    <div class="form-group pb-3">
                        <label for="career" class="pb-1">Carrera</label>
                        <InputText id="career" class="form-control" @bind-Value="_educationDTO.Career" />
                        <ValidationMessage For="() => _educationDTO.Career"></ValidationMessage>
                    </div>
                    <div class="form-group pb-3">
                        <label for="startDate" class="pb-1">Fecha de Ingreso</label>
                        <InputDate id="startDate" class="form-control" @bind-Value="_educationDTO.StartDate" />
                        <ValidationMessage For="() => _educationDTO.StartDate"></ValidationMessage>
                    </div>
                    <div class="form-group pb-3">
                        <label for="finshDate" class="pb-1">Fecha de Egreso</label>
                        <InputDate id="finshDate" class="form-control" @bind-Value="_educationDTO.FinishDate" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="pb-1">Descripciòn</label>
                        <InputTextArea id="description" class="form-control" @bind-Value="_educationDTO.Description" />
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn text-white" style="background: #1B5DC2;"  data-bs-dismiss="modal">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => ResetModel()">Cancelar</button>
                </div>
            </div>
        </article>
    </section>
</EditForm>

@code {
    [Parameter]
    public string Alias { get; set; }
    [Parameter]
    public EventCallback<List<EducationDTO>> OnClick { get; set; }

    private EducationDTO _educationDTO = new EducationDTO();

    private async Task AddEducation(EducationDTO educationDTO)
    {
        try
        {
            var result = await EducationWebService.AddAsync(educationDTO);
            var isCreated = result.IsOk;

            if (!isCreated)
            {
                await JSRuntime.InvokeVoidAsync("alert", $"{result.StatusCode} - El estudio académico no pudo ser cargado.");
                return;
            }

            await JSRuntime.InvokeVoidAsync("alert", $"{result.StatusCode} - El estudio académico fue cargado con éxito.");

            var educationsList = await EducationWebService.GetAllInDescOrderAsync(Alias);
            await OnClick.InvokeAsync(educationsList);

            await ResetModel();
        }
        catch (Exception e)
        {
            throw new Exception(e.Message);
        }
    }

    private async Task ResetModel()
    {
        _educationDTO.Name = string.Empty;
        _educationDTO.Career = string.Empty;
        _educationDTO.StartDate = DateTime.Now;
        _educationDTO.FinishDate = DateTime.Now;
        _educationDTO.Description = string.Empty;

        await Task.CompletedTask;
    }
}