.fs {
    font-size: 1.1rem !important;
}

.border-nav {
    border-top: 1px solid #495057;
}

.banner {
    min-height: 65vh;
}

.personalInfo {
    min-height: 35vh;
}

.bg-experiences {
    background: #212529;
    background: linear-gradient(180deg, #212529, #000000);
}

.bg-educations {
    background: #212529;
    background: linear-gradient(0deg, #212529, #000000);
}

@media screen and (min-width: 576px) {
    .fs-sm {
        font-size: 1.20rem !important;
    }

    .border-sm-nav {
        border-bottom: 1px solid #495057;
    }

    .banner-sm {
        min-height: 70vh;
    }

    .personalInfo-sm {
        min-height: 30vh;
    }

    .fixed-sm-top {
        top: 0;
        bottom: unset;
    }
}

@media screen and (min-width: 768px) {
    .border-md {
        ...
    }

    .border-md-0 {
        ...
    }
}

@media screen and (min-width: 992px) {
    .border-lg {
        ...
    }

    .border-lg-0 {
        ...
    }
}

@media screen and (min-width: 1200px) {
    .border-xl {
        ...
    }

    .border-xl-0 {
        ...
    }
}

@media screen and (min-width: 1400px) {
    .border-xxl {
        ...
    }

    .border-xxl-0 {
        ...
    }
}
