.fs {
    font-size: 1.05rem !important;
}

.border-nav {
    border-top: 1px solid #495057;
}

.banner {
    min-height: 60vh;
}

.personalInfo {
    min-height: 40vh;
}

.bg-projects {
    background: #212529;
    background: linear-gradient(180deg, #212529, #000000);
}

.bg-educations {
    background: #212529;
    background: linear-gradient(0deg, #212529, #000000);
}

.bg-wave {
    background: #212529;
    background: linear-gradient(180deg, #212529, transparent);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #495057;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}

@media screen and (min-width: 576px) {
    html {
        font-size: 15px;
    }

    .fs-sm {
        font-size: 1.15rem !important;
    }

    .border-sm-nav {
        border-bottom: 1px solid #495057;
    }

    .banner-sm {
        min-height: 75vh;
    }

    .personalInfo-sm {
        min-height: 25vh;
    }

    .fixed-sm-top {
        top: 0;
        bottom: unset;
    }
}

@media screen and (min-width: 768px) {
    .border-md {
        ...
    }

    .border-md-0 {
        ...
    }
}

@media screen and (min-width: 992px) {
    .border-lg {
        ...
    }

    .border-lg-0 {
        ...
    }
}

@media screen and (min-width: 1200px) {
    .border-xl {
        ...
    }

    .border-xl-0 {
        ...
    }
}

@media screen and (min-width: 1400px) {
    .border-xxl {
        ...
    }

    .border-xxl-0 {
        ...
    }
}
